section.tag-overview
    header.tag-overview__header
        h1.tag-overview__title #{ meta.title }

        if app.tagsConfig['tag_overview_' + meta.tag + '_image'] || app.tagsConfig.tag_overview_default_image
            img.tag-overview__image(src=`${ app.tagsConfig['tag_overview_' + meta.tag + '_image'] || app.tagsConfig.tag_overview_default_image }` alt='')

    if meta.taggedPages.length > 0
        section.tag-overview__content
            each page, index in meta.taggedPages
                article.tag-overview__item
                    h2.tag-overview__item-title #{ page.meta.title }

                    time.tag-overview__item-date #{ page.meta.createdAt.toLocaleString(app.lang) }

                    p.tag-overview__item-description #{ page.meta.description }

                    a.tag-overview__item-link(href=`${ page.meta.href }`) Read more
